body {
    background-color: salmon;
    margin: 0;
    padding: 0;
}

header {
    background-color: maroon;
    color: burlywood;
    font-size: 16px;
    
}

h1 {
    margin-top: 0;
}

.btn {
    background-color: grey;
    margin-top: 20vh;
    font-size: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 3vw;
    height: 3vh;
}

.btn:hover {
    border: 2px solid red;
}

#buttons {
    text-align: center;
}

#display {
    text-align: center;
    margin-top: 5vh;
    font-size: 5vh;
    border: 10px solid darkgray;
    background-color: darkgray;
    margin-left: 15vw;
    margin-right: 15vw;
}